version: '3.8'

services:
  db:
    # Use the Bitnami image
    image: bitnami/postgresql:latest
    container_name: postgres-db
    restart: always
    environment:
      # These will load the actual values from the .env file
      POSTGRESQL_USERNAME: ${POSTGRESQL_USERNAME}
      POSTGRESQL_PASSWORD: ${POSTGRESQL_PASSWORD}
      POSTGRESQL_DATABASE: ${POSTGRESQL_DATABASE}
    ports:
      - "5432:5432"
    volumes:
      # This named volume will persist the data
      - pg_data:/bitnami/postgresql

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.11.1
    container_name: elasticsearch
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    ports:
      - "9200:9200"
    volumes:
      - es_data:/usr/share/elasticsearch/data

volumes:
  pg_data: # PostgreSQL user data
  es_data: # Elasticsearch log data